/* Globale Stylesheets */

* {
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    height: 100%;	
}

img { 
    border: none;
}

.red {
    color: #ff0000;	
}

.green {
    color: #006907;	
}

/* Headline */

div#headline {
    height: 63px;
    background: #86b5d9 url(./redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) repeat-x center;	
    position: relative;
    color: #ffffff;
}

div#headline_right {
    position: absolute;
    top: 0px;
    right: 25px;	
    text-align: right;
    padding: 9px 0;
    font-size: 1.2em;
}

div#headline_right div {
    margin-bottom: 3px;
}

div#headline a {
    color: #ffffff;
    display: inline-block;
}

div#headline_left div#headline_logo {
    height: 63px;
    margin: 0 0 0 10px;
    background: url(../img/icon/logo.png) no-repeat;
    background-position: 5px 5px;
}

div#headline_left div#headline_logo a {
    height: 63px;
    display: inline-block;
    font-size: 30px;
    margin: 13px 0 0 50px;
    font-weight: bold;
    text-decoration: none;
}

/* Layout */

div#content_box {
    width: 60%;
    min-width: 800px;
    margin: 20px auto;
}

div.content_box_collapsable {
    margin-bottom: 10px;
}

div.content_box_collapsable_header {
    text-align: center;
    padding: 3px 0;
    font-size: 1.2em;
    font-weight: bold;
}

div.content_box_collapsable_body {
    padding: 5px;
}

div.content_box_collapsable_row {
    padding: 3px;
}

span.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: 10px;
    margin: 0 10px;
}

span.content_box_collapsable_row_title {
    display: inline-block;
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
    width: 47%;
}

div.content_box_collapsable_row_content {
    display: inline-block;
}

div.content_box_collapsable_progress {
    height: 20px;
    width: 250px;
    display: inline-block;
    position: relative;
    top: 6px;
}

table.content_table {
    width: 100%;
}

table.content_table th {
    background-color: #F2F2F2;
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #DDE1E5;
    color: #949494;
    font-weight: normal;
    padding: 5px;
    text-align: left;
}

table.content_table td {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    padding: 3px;
}

table.content_table tr:nth-child(even) td {
    background-color: #f9f9f9;
}

table.content_table tfoot td {
    background-color: #DCDCDC;
    font-weight: bold;
}

div.storage_progress {
    height: 15px;
    width: 200px;
    display: inline-block;
    margin: 2px;
}

/* Fußzeile */

div.footline {
    background: #86b5d9 url(./redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) repeat-x center;	
    color: #ffffff;
    text-align: right;
    padding: 3px 10px;
}

/* Icons */

span.icon_time {
    background-image: url(../img/icon/Apps-clock-icon.png);
}

span.icon_starttime {
    background-image: url(../img/icon/clock_history_frame.png);
}

span.icon_cpuusage {
    background-image: url(../img/icon/chart_curve.png);
}

span.icon_cpufreq {
    background-image: url(../img/icon/speedometer.png);
}

span.icon_cputemp {
    background-image: url(../img/icon/temperature_2.png);
}

span.icon_memoryusage {
    background-image: url(../img/icon/ddr_memory.png);
}

span.icon_swapusage {
    background-image: url(../img/icon/page-swap-icon.png);
}

span.icon_os {
    background-image: url(../img/icon/It-Infrastructure-Linux-client-icon.png);
}

span.icon_kernel {
    background-image: url(../img/icon/tux.png);
}

span.icon_firmware {
    background-image: url(../img/icon/ram-driver-icon.png);
}

span.icon_hostname {
    background-image: url(../img/icon/hostname.png);
}

span.icon_split {
    background-image: url(../img/icon/arrow_divide.png);
}

span.icon_cpu {
    background-image: url(../img/icon/cpu-ARM-icon.png);
}

span.icon_features {
    background-image: url(../img/icon/settings-icon.png);
}

span.icon_serial {
    background-image: url(../img/icon/motherboard.png);
}

span.icon_rev {
    background-image: url(../img/icon/Hardware-Chip-icon.png);
}

span.icon_h264 {
    background-image: url(../img/icon/film.png);
}

span.icon_mpeg2 {
    background-image: url(../img/icon/film.png);
}

span.icon_vc1 {
    background-image: url(../img/icon/film.png);
}

/* Links */

a.edit {
    display: inline-block;	
    width: 16px;
    height: 16px;
    background: url(../img/icon/edit.png) no-repeat;
}

a.delete {
    display: inline-block;	
    width: 16px;
    height: 16px;
    background: url(../img/icon/delete.png) no-repeat;
}

/* Tooltips */

span.tooltip_strong {
    font-weight: bold;
    display: inline-block;
    width: 50px;
}

/* Admin Menu */

ul#acp_menu {
    width: 150px;
    visibility: hidden;
    position: absolute;
}

ul.visible {
    visibility: visible !important;
}

/* Login */
#login div span {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-size: 1.1em;
}

#login div input {
    width: 175px;
    padding: 3px;
    margin: 2px;
    border: solid #949494 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.1em;
}

/* Meldungen */

.message_error, .message_warning, .message_info, .message_successfully {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    position: relative;
    min-height: 22px;
    margin: 10px;
}

.message_error .message_icon, .message_warning .message_icon, .message_info .message_icon, .message_successfully .message_icon {
    width: 32px;
    height: 32px;
    margin: 5px;
    position: absolute;
    top: 0;
    left: 5px;
}

.message_error ul, .message_warning  ul, .message_info  ul, .message_successfully  ul {
    margin: 5px 0 0 80px;
    font-size: 0.9em;
}

.message_error .message, .message_warning .message, .message_info .message, .message_successfully .message {
    margin-left: 45px;
}

.message_error {
    border: 1px solid #d00101;
    background-color: #fde7e7;
}

.message_error .message_icon {
    background: url(../img/icon/error.png) no-repeat;
}

.message_error .message a {
    background-color: #fde7e7;
    border: #d00101 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.message_warning {
    border: 1px solid #ee9e09;
    background-color: #fefcc6;
}

.message_warning .message_icon {
    background: url(../img/icon/warning.png) no-repeat;
}

.message_warning .message a {
    background-color: #fefcc6;
    border: #ee9e09 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.message_info {
    border: 1px solid #799ee1;
    background-color: #e2eafb;
}

.message_info .message_icon {
    background: url(../img/icon/info.png) no-repeat;
}

.message_info .message a {
    background-color: #e2eafb;
    border: #799ee1 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.message_successfully  {
    border: 1px solid #009607;
    background-color: #d2ffcd;
}

.message_successfully .message_icon {
    background: url(../img/icon/successfully.png) no-repeat;
}

.message_successfully .message a {
    background-color: #d2ffcd;
    border: #009607 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

/* Formulare */
.invalidFormField {
    border: 1px solid #d00101 !important;
    background-color: #fde7e7 !important;
}

.defaultInputField {
    padding: 3px;
    font-size: 15px;
    width: 300px;
    border: 1px solid #0f5c8e;
    margin: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

select {
    padding: 3px;
    font-size: 15px;
    width: 300px;
    border: 1px solid #0f5c8e;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ui-spinner {
    font-size: 15px;
    width: 305px;
    border: 1px solid #0f5c8e;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

form div.form_content {
    margin-bottom: 10px;
}

form div.form_title {
    display: inline-block;
    width: 20%;
    text-align: right;
    font-size: 1.1em;
}

form div.form_element {
    display: inline-block;
    width: 70%;
}

form div.form_element_checkbox label {
    font-weight: bold;
}

form div.form_description {
    display: inline-block;
    width: 70%;
    margin: 0 0 0 22%;
    color: #797979;
    font-size: 0.95em;
}

div.buttonField {
    border: #a6c9e2 solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 5px;
    padding: 5px 0;
    text-align: center;
}

div.buttonField input {
    background-color: #fffff;
    border: #a6c9e2 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2px;
    background-color: #ffffff;
    color: #4e7cb7;
}

div.buttonField a {
    background-color: #fffff;
    border: #a6c9e2 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2px;
    background-color: #ffffff;
    color: #4e7cb7;
    text-decoration: none;
    display: inline-block;
}

/* Description */

div.description {
    margin: 10px 0;	
}

div.description div.descriptionH1 {
    border-bottom: 1px solid #4e7cb7;
    color: #4c4c4c;
    font-size: 1.25em;	
    font-weight: bold;
    padding: 0 5px 2px 5px;
}

div.description div.descriptionText {
    border-bottom: 1px solid #add1ff;
    color: #555555;
    padding: 5px 10px;
}